@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
.body{
    width: 0;
}

:root{
    /*--Color--*/
    --Primary-Text-color:#000;
    --Secondary-text-color:#666976;
--third-text-color:white;
--btn-color:#F4801A;
--bg-color:#fde1ce;
    /*--text--*/
    --Primary-text:Inter;

}
.body{
    font-family: var(--Primary-text);

}

.background {
    background: linear-gradient(to top,#FCFFFF, #FFF9F3 );
    min-height: 100vh;
    padding: 20px;
  }
 
  /*Nav-bar*/
  a.nav-link{
    color: black !important;
    font-size: 23px !important;
    margin-right: 10px !important;
     }
   a.nav-link.active{
      color: black !important;
       }
      a.nav-link:hover{
       color: var(--btn-color)!important;
      }
 
 
/*--welcome--*/
.page1{
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 140px;
  
   
}
.pre{
    color: var(--Secondary-text-color);
    font-size: 21px;
    font-family: var(--Primary-text);
    
    margin: 20px 5px 15px 20px;
}
h1.h1{
    font-size: 58px;
    font-weight: bold;
    font-family: var(--Primary-text);
    margin: 10px 5px 10px 20px;
}
button.btn{
    background: linear-gradient(to left,#F7951E, #ED4B12);
    border-radius: 30px;
    border: none;
    padding:20px 30px;
    color: white;
    margin-top: 20px;
    }

.container-fluid.part1{
    background-image: url(images/orange-building.png);
    background-repeat: no-repeat;
    background-size: 100% 110px;
    text-align: center;
    color:var(--third-text-color);
  
   font-family: var(--Primary-text);
   }
   .part1 {
    padding: 5px 0; /* Add padding to the section */
   }
  .part1 .row {
    display: flex;
    justify-content: center; /* Center horizontally */
  }
  .part1 .col {
    text-align: center; /* Center text within each column */
    margin: 20px 0; /* Add margin to each column for spacing */
  }

/*--About page--*/
.top-head{
    margin-top: 20px;
    margin-left: 20px;
    font-family: var(--Primary-text);
    font-size: 30px !important;
    font-weight: lighter;
}
.sec-head{
    margin-top:20px !important; 
    margin-left: 10px !important;
    font-family: var(--Primary-text);
    font-size: 32px !important;
   
}

.about{
    margin-top: 150px;
}

.aboutimg{
    margin-left: 30px;
}
.pre1{
    margin-top: 20px;
    color: var(--Secondary-text-color);
    font-size: 22px !important;
    margin-bottom: 50px;
    margin-left: 20px;
}
.part2{
    background-image: url(images/About-Draw-kits.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100%;
}
.iconsec {
    
    background: linear-gradient(to right, #FFF4E8, #FFFFFF);
    padding: 10px;
    border-radius: 10px !important;
}

.iconsec::before {
    content: '';
    position: absolute;
    top: -2px; 
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    border: 2px solid;
    border-radius: 10px !important; 
    border-image: linear-gradient(to right, #FFC385, #FFFFFF) 1; 
  
}

/*--Why choose us--*/
.part3 {
    padding: 50px 0;
}
.part3-1 {
    margin-bottom: 50px;
}
.part3 img {
    max-width: 100%;
    height: auto;
}
.paragraph-2 {
    font-size: 18px;
}
.collase-m {
    margin-bottom: 15px;
    font-size: 21px !important;
}
.read {
    color: #007bff;
    cursor: pointer;
    padding-left: 50px;
}
.read:hover {
    text-decoration: underline;
}
.container {
    padding-left: 0;
    padding-right: 0;
}
.container .row > div {
    padding-left: 15px;
    padding-right: 15px;
}
@media (max-width: 767.98px) {
    .part3 img {
        height: auto;
    }
    .container .row {
        margin-right: 0;
        margin-left: 0;
    }
    .container .row > div {
        padding-left: 0px;
        padding-right: 5px;
    }
    .part3-1 h3, .part3-1 h1 {
        margin-left: 0px;
    }
    .col-md-8 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .paragraph-2 {
        font-size: 16px;
    }
    .read {
        color: #007bff;
        cursor: pointer;
        padding-left: 1px;
    }
    .collase-m{
        margin-left: 1px !important;
    }
}
/*--Our software--*/
.part4 {
    padding: 50px 0;
    background-color: #f9fafd;;
}
.part4 h4, .part4 h1 {
    margin-left: 20px;
}
.card-text {
    margin: 20px;
    height: 150px;
}
.card-img-top img {
    width: 100%;
    height: auto;
}
/*Marquee*/

.marquee img {
    margin: 10px;}

/* our service*/
.servicecard{
    margin: 30px 0px 10px 40px;
    padding: 20px;
    height: 350px;
    margin-bottom: 20px;
    border-radius: 30px !important;
}

.servicecard:hover{
    transform: scale(1.0);
}

.servicecard:hover{
    background-color: #F4801A;
    color: white !important;
    .servicepre:hover{
        color:white ;
    }
  
}


/*--Bharathbrands--*/




/* Style for the card content */
.bcard {
    height: 600px !important;
    font-size: 20px;
    color: var(--Secondary-text-color);
    transition: background-color 0.3s, color 0.3s; /* Add transition for smooth hover effect */
}

/* Hover effect for the card */
.bcard:hover {
    background-color: #F4801A;
    color: white;
}

/*--software solutions--*/
.center{
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}
.p1{
    
    color: var(--Secondary-text-color);
}
.demobtn{
    background: linear-gradient(to left,#F7951E, #ED4B12);
    color: var(--bg-color);
    padding: 10px 20px;
    border-radius: 5px;
    border: none
}
.demobtn1{
    background: linear-gradient(to left,#F7951E, #ED4B12);
    color: var(--bg-color);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin-top: 55px;

}

.demobtn3{
    background: linear-gradient(to left,#F7951E, #ED4B12);
    color: var(--bg-color);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin-top: 63px;

}
/*--Testimonial--*/
.test{
    background-color: var(--third-text-color);
    color: #666976;
    padding-left: 50px !important; 
    padding-top: 130px;
    
}
.custom-container {
  
    padding-top: 20px; 
    background-color: white;

 
}

.testimonial-section {
    background-color: rgb(208, 238, 238);
    margin-top: 50px;
    
}

@media (max-width: 768px) {
    .test{
        background-color: var(--third-text-color);
        color: #666976;
        padding-left: 20px !important; 
        padding-top: 30px;
        
    }}
/*--Request quote--*/
.ip{
float: left;
font-size: 20px;

}
.form-label{
font-size: 20px;
color: #666976
}




/*--contact us--*/

.section{
   
    margin-top: 30px;
    float: left;
    margin-left: 50px;
    font-size: 21px;
    color: #666976;
    
}
.iconc{
color: #000;
}
.icon{
    margin:15px;
   
}
.spre{
    margin-top: 80px;
    color: #000;
    font-weight: 500;
}
.H5{
    position: relative;
    color: #000;
     display: inline-block; 
     padding-bottom: 10px; 
     border-bottom: 2px solid #F4801A;
}

button.btnl{
    background: linear-gradient(to right, #ED4B12,#F7951E);
    border-radius: 10px;
    border: none;
    padding:15px 50px;
    color: white;
    margin-top: 20px;
    font-size: 20px;
    margin-left: 0px;
    }

    @media (max-width: 768px) {
        .servicecard{
            margin: 30px 0px 10px 40px;
            padding: 20px;
            height:400px !important;
            margin-bottom: 20px;
            border-radius: 30px !important;
        }
        
         .card-c{
            height: 650px !important;
         }
         h1.h1{
            font-size: 38px;
            font-weight: bold;
            font-family: var(--Primary-text);
            margin: 10px 5px 10px 10px;
         }
         .fw-light{
            margin: 10px 5px 10px 10px !important; 
         }
         .pre{
            margin: 10px 5px 10px 10px !important; 
         }
    }