@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");


:root{
    /*--Color--*/
    --Primary-Text-color:#000;
    --Secondary-text-color:#666976;
--third-text-color:white;
--btn-color:#F4801A;
--bg-color:#fde1ce;
    /*--text--*/
    --Primary-text:sans-serif;

}
/*--nav--*/
.navbar{
    width: 100%;
    height: 100px;
    color:var(--Primary-Text-color);
    font-family:var(--Primary-text)  ;
   
}
.navbar-nav{
    margin-left: 30px;
}


.nav-link{
    margin-left: 50px;
}


/*--welcome--*/

.pre{
    color: var(--Secondary-text-color);
    font-size: 25px;
    margin-top: 20px;
    margin: 20px 5px 15px 20px;
}
h1.h1{
    font-size: 60px;
    margin: 20px 5px 15px 20px;
}
button.btn{
    background-color: #F4801A;
    border-radius: 30px;
    border: none;
    padding:20px 30px;
    color: white;
    margin-top: 20px;
    }

.container-fluid.part1{
    background-color: #F4801A;
    color:var(--third-text-color);
    width:100%;
    height: 150px;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
   }
div.col{
    margin-top: 30px;
   }


/*--About page--*/


.pre1{
    margin-top: 20px;
    color: var(--Secondary-text-color);
    font-size: 22px;
    margin-bottom: 50px;
    margin-left: 20px;
}

/*--Why choose us--*/
.row.icon{
    margin-left: 15px;
    margin-top: 20px;
    padding: 20px;
}
.card.icon{
    border: 2px solid #F4801A;
    margin-left:20px ;
}
.read{
    margin-left: 25px;
    text-decoration: none;
    margin-right: 2px;
}

/*--Our software--*/

.owl-carousel .item {
    background: #4DC7A0;
    padding: 30px 0;
    margin: 10px;
    color: #FFF;
    border-radius: 3px;
    text-align: center;
}