@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");


:root{
    /*--Color--*/
    --Primary-Text-color:#000;
    --Secondary-text-color:#666976;
--third-text-color:white;
--btn-color:#F4801A;
--bg-color:#fde1ce;
    /*--text--*/
    --Primary-text:sans-serif;

}
/*--nav--*/
.navbar{
    width: 100%;
    height: 100px;
    color:var(--Primary-Text-color);
    font-family:var(--Primary-text)  ;
    padding-left: 45px;
   
   
}
.navbar-nav{
    margin-left: 70px;
}


.nav-link{
    margin-left: 50px;
}

.nav-link:hover{
    color:#F4801A;
    
    }
   
/*--welcome--*/
.page1{
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 120px;
   
}
.pre{
    color: var(--Secondary-text-color);
    font-size: 25px;
    margin-top: 20px;
    margin: 20px 5px 15px 20px;
}
h1.h1{
    font-size: 55px;
    margin: 20px 5px 15px 20px;
}
button.btn{
    background-color: #F4801A;
    border-radius: 30px;
    border: none;
    padding:20px 30px;
    color: white;
    margin-top: 20px;
    }

.container-fluid.part1{
    background-image: url(images/orange-building.png);
    background-repeat: no-repeat;
    background-size: 100% 110px;
    text-align: center;
    color:var(--third-text-color);
   margin-top: 20px;
   }
div.col{
    margin-top: 10px;
   
   }


/*--About page--*/
.about{
    margin-top: 150px;
}

.aboutimg{
    margin-left: 30px;
}
.pre1{
    margin-top: 20px;
    color: var(--Secondary-text-color);
    font-size: 22px;
    margin-bottom: 50px;
    margin-left: 20px;
}
.part2{
    background-image: url(images/About-Draw-kits.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100%;
}

/*--Why choose us--*/
.part3{
    margin-top: 100px;
}
.part3-1{
    background-image: url(images/Why-choose-us\(Draw-Kits\).png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 20px;
}
.row.icon{
    margin-left: 15px;
    margin-top: 20px;
    padding: 20px;
}
.card.icon{
    border: 2px solid #F4801A;
    margin-left:20px ;
}
.read{
    margin-left: 25px;
    text-decoration: none;
    margin-right: 2px;
}

/*--Our software--*/
.part4{
    margin-top: 100px;
    background-color: rgb(228, 247, 250);


}

.row-equal .card {
   width: 100%;
   margin-bottom: 20px;
}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active, 
.carousel-inner>.row-equal.next, 
.carousel-inner>.row-equal.prev {
    display: flex;
}

/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left, 
.carousel-inner>.row-equal.active.right {
    opacity: 0.5;
    display: flex;
}


/* control image height */
.card-img-top-250 {
    max-height: 250px;
    overflow:hidden;
}


.card-header{color:dodgerblue}


/* our service*/
.servicecard{
    margin: 30px 0px 10px 40px;
    padding: 20px;
    height: 335px;
}

.servicecard:hover{
    transform: scale(1.0);
}

.servicecard:hover{
    background-color: #F4801A;
    color: white;
  
}

/*--Bharath brants--*/
.bcol{
    margin-top: 80px;
    margin-bottom: 80px;
}
.bcard{
    text-align: center;
    justify-content: center;
    font-size: 20px;
    color: var(--Secondary-text-color);
}
.bcard:hover{

    background-color: #F4801A;
    color: white;
}

/*--software solutions--*/
.center{
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}
.p1{
    padding: 2px;
    margin:5px;
    color: var(--Secondary-text-color);
}
.demobtn{
    background-color: var(--btn-color);
    color: var(--bg-color);
    padding: 10px 20px;
    border-radius: 5px;
    border: none
}
.demobtn1{
    background-color: var(--btn-color);
    color: var(--bg-color);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin-top: 30px;

}

/*--Testimonial--*/
.test{
    background-color: var(--third-text-color);
    color: #666976;
    padding-left: 50px !important; 
    padding-top: 130px;
    width: 50%;
   
    
}

/*--Request quote--*/
.ip{
float: left;

}


/*--contact us--*/

.section{
    margin: 10px;
    margin-top: 30px;
    float: left;
    margin-left: 90px;
    
}
.icon{
    margin:5px;
}